@import url(/colors.css);
 
header {
    background-color: var(--cor-primaria);
    height: 10rem;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
 
.logo {
    width: 11rem;
    height: 10rem;
}
 
.header_navegacao {
    display: flex;
}
 
.header_navegacao *{
    font-size: 2rem;
    margin-left: 30px;
    color: var(--cor-secundaria);
}
 
.header_navegacao *:hover {
    transform: scale(1.1);
    color: var(--cor-terciaria);
}
 
.header_navegacao a:nth-child(1) {
    text-decoration: underline;
}
 
main{
    background-color: var(--cor-quaternaria);
}
 
.banner{
    width: 100%;
}
h1{
    color: var(--cor-quintenaria);
    text-align: center;
    margin: 3rem 0;
}
 
.cursos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}
 
.cursos__cartao {
    display: flex;
    width: 22rem;
    height: 20rem;
    background-color: var(--cor-terciaria);
    border-radius: 18px;
    border: solid 2px var(--cor-quintenaria);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
 
.cursos__cartao:hover {
    filter: brightness(70%);
    cursor: pointer;
    transform: scale(0.9);
}
 
footer {
    color: var(--cor-quintenaria);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 6rem;
    background: rgb #453F78;
    background: linear-gradient(180deg, rgb(223, 245, 255) 0%, rgb(103, 198, 227) 100%);
}
 
.footer_links a{
    display: flex;
    flex-direction: column;
    color: var(--cor-terciaria);
}
 
.footer_links h2{
    margin-bottom: 2rem;
}
 
.footer_links a:hover{
    color: var(--cor-secundaria);
}




